label {
    width: 100%;
    font-size: .9rem;
    margin-top: .8rem;
}

#mc_embed_signup_scroll {
    width: 100%;
}

.mc-field-group {
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}

div.mce_inline_error {
background-color: var(--bold) !important ;
font-size: .9rem;
font-family: monospace;
}

.clear:hover input{
    cursor: pointer;
    background-color: blue;
}

.intro {
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.2rem;
    display: block;
}

input, select {
    padding: .7rem;
    font-size: 1rem;
    margin: .25rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
}


.clear input {
    font-size: 1.2rem;
    background-color: var(--bold);
    color: white;
    margin-top: 1rem;
}

.asterisk, .indicates-required{
    font-size: .8rem;
    font-family: monospace;
    color: var(--bold);
    margin-bottom: 1rem;
}