NEXT_TELEMETRY_DISABLED=1

AUTH_SECRET= # Use `openssl rand -base64 32` to generate
AUTH_PASSWORD=

DATABASE_URL="mongodb+srv://root:randompassword@cluster0.ab1cd.mongodb.net/mydb?retryWrites=true&w=majority"

GEODATA_API_BASE_URL=

MAPBOX_TOKEN=

MAILCHIMP_KEY=
MAILCHIMP_SERVER=

UMAMI_WEBSITE_ID=
