API_KEY=
SERVER=
GIT_KEY=
Mapbox_Token=
REACT_APP_API="/api/"

MAILCHIMP_KEY=

AUTH_SECRET= # Use `openssl rand -base64 32` to generate
AUTH_PASSWORD=

DATABASE_URL="mongodb+srv://root:randompassword@cluster0.ab1cd.mongodb.net/mydb?retryWrites=true&w=majority"
