#dropdown {
    margin-top: -.5rem;
    padding: .5rem;
    background-color: var(--bg);
}


#geo_body {
    flex-direction: column;
    display: flex;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#geo_body table {
    width: 100%;
}



.geo_result span {
    flex: 2;
}

.geo_title {
    font-weight: 600;
}
#geo_return{
    border: 1px dotted grey;
    font-size: .8rem;
    padding: .5rem;
    border-radius: .25rem;
    background-color: #f7f5f5;
    max-height: 50vh;
    overflow-y: scroll;
    margin-top: .5rem;
}

.geo_result {
    display: flex;
}

#dropdown p {
    margin: 0;
}

#dropdown p:hover{
    text-decoration: underline;
    cursor: pointer;
}
