@import 'tailwindcss';

@theme {
  --color-sfa-blue: #245ad8;
  --color-sfa-green: #25c764;
  --color-sfa-tan: #f3eee2;

  --color-blue: #0032ff;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-mono);
  --font-title: var(--font-source-sans);
}

@layer base {
  a {
    @apply text-blue-700;
    @apply underline hover:no-underline;
  }
}
