:root {
    --bg: rgb(241, 241, 240);
    --edit: rgb(249, 248, 246);
    --button: rgb(212, 204, 204);
    --soft_bg: rgb(216, 228, 238);
    --bold: rgb(34, 40, 219);
    --copy: rgb(213, 245, 186);;
    --copyhigh: rgb(135, 214, 151);
}

#feeder p {
    text-decoration: none;
}


button {
    border: none;
    background-color: var(--button);
}

button:hover {
    cursor: pointer;
    background-color: edit;
}

textarea,
input {
    resize: none;
    font-weight: 500;
    font-family: sans-serif;
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    border: 1px dotted grey;
    background: var(--edit)
}

textarea:focus-within,
input:focus-within {
    border: 1px solid var(--bold);
    outline: none;
}

.saved {
    background-color: rgb(128, 231, 128);
    border-color: green;

}

.unsaved {
    background-color: rgb(243, 156, 156);
    border-color: red;
}

label {
    font-size: .8rem;
    color: grey;
}

#geo_toggle {
    border-radius: 1rem;
    border: 1px dotted black;
    max-width: 100px;
    position: fixed;
    left: 10px;
    top: 10px
}

#geo_toggle img{
    width: auto;
    height: 3rem;
}

@keyframes wobble {
    0% { transform: translateY(0%); } 
    15% { transform: translateY(-2%) rotate(1deg); } 
    30% { transform: translateY(3%) rotate(-3deg); } 
    45% { transform: translateY(-4%) rotate(2deg); } 
    60% { transform: translateY(2%) rotate(-2deg); }
    75% { transform: translateY(-5%) rotate(-1deg); }
    100% { transform: translateY(0%); } 
 } 

.loader {
    margin: auto;
    text-align: center;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.loader img { 
    max-width: 10rem;
    margin: auto;
    -webkit-animation-name: wobble; 
    animation-name: wobble; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

tr:nth-child(even) {
    background-color: var(--button);
}

.footer {
    max-width: 100%;
    padding: 3rem;
    text-align: center;
    color: grey;
    font-size: .8rem;
}


@media only screen and (max-width: 800px) {
    * {
        font-size: 1rem;
    }

    #footer {
        font-size: .7rem;
    }
  }