:root {
    --bg: rgb(241, 241, 240);
    --edit: rgb(249, 248, 246);
    --button: rgb(212, 204, 204);
    --soft_bg: rgb(216, 228, 238);
    --bold: rgb(34, 40, 219);
    --copy: rgb(213, 245, 186);;
    --copyhigh: rgb(135, 214, 151);
}

#container {
    width: max-content;
    display: flex;
    max-width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

@media only screen and (max-width: 800px) {
    #container {
        margin-top: 8rem;
    }

    #container {
        font-size: .9rem;
    }
}

#log-in {
    margin: auto;
    margin-top: 30vh;
    background-color: var(--bg);
    padding: 2rem;
}

#feed {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

#feeder p {
    text-decoration: none;
}


button {
    border: none;
    background-color: var(--button);
}

button:hover {
    cursor: pointer;
    background-color: edit;
}

.l_button {
    background-color: var(--copy);
    border-radius: .5rem;
    border: 1px solid var(--copyhigh);
    padding: .25rem .5rem;
    margin-top: .5rem;
    font-size: 1rem;
}

.l_button:hover {
    background-color: var(--copyhigh);

}

.window {
    width: 50rem;
    background-color: var(--bg);
    border-radius: 1rem;
    max-width: 100%;
    /* box-shadow: 0px 0px 10px rgba(135, 122, 96, 0.471); */
}


textarea,
input {
    resize: none;
    font-weight: 500;
    font-family: sans-serif;
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    border: 1px dotted grey;
    background: var(--edit)
}

textarea:focus-within,
input:focus-within {
    border: 1px solid var(--bold);
    outline: none;
}


#mailer {
    padding: 1rem;
    margin: .5rem;
    max-width: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    width: 50%
}

#toolset {
    width: 50%;
    max-width: 100%;
}

#mailer_head {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

#mailer_head>div {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#mailer img {
    width: 5rem;
    height: auto;
}

.label_header {
    display: inline;
    margin-right: .5rem;
    
}

.label_header.full {
    display: block;
    margin-top: 1rem;
}

.label_header:hover {
    text-decoration: underline;
    cursor: pointer;
}

.recipient_list {
    padding: .3rem;
    padding-bottom: 0;
    border: 1px dotted grey;
    border-radius: .5rem;
    background: var(--edit);
    display: flex;
    flex-wrap: wrap;
    color: var(--bg);
}

#recipients_form input:hover,
#recipients_form input:focus {
    background-color: var(--soft_bg);
}



.recipient_menu {
    display: none;
    position: absolute;
    background-color: var(--bg);
    box-shadow: 0 .2rem .4rem lightgray;
    padding: .2rem .2rem;
    border-radius: .3rem;
}


.recipient:hover>.recipient_menu {
    display: flex;
    cursor: pointer;
    font-size: .9rem;
    border: 1px solid var(--button);
}


.recipient_menu span {
    /* background-color: var(--edit); */
    padding: .1rem .2rem;
    border-radius: .5rem;
    margin: .1rem;
    border: .5px solid var(--edit);
}

.recipient_menu span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.recipient_menu .delete {
    padding: .1rem .4rem;
    border-left: 1px solid lightgrey;
    border-radius: 0;
}

#recipients_form {
    font-size: 1.1rem;
    display: inline-block;
    margin-bottom: .3rem;
    background: var(--edit)
}

#recipients_form input:focus-visible,
#recipients_form input:focus {
    outline: none;
}

#recipients_form input {
    vertical-align: middle;
    border: 0px;
    font-size: 1.1rem;
    padding: 0 .3rem;
    margin: 0;
    border-radius: .3rem;
    line-height: 1.6rem;
}

.recipient {
    color: black;
    margin-bottom: .3rem;
    padding: .2rem .2rem;
    /* background-color: var(--soft_bg); */
    padding: 0.2rem 0.3rem;
    vertical-align: middle;
    border-radius: .5rem;
    border: 1px solid var(--button);
}

.recipient:focus {
    background-color: var(--soft_bg);
    border: 1px solid var(--bold);
}

#hash {
    background-color: var(--button);
    cursor: pointer;
    padding: .3rem;
}

#shareable {

}

.sub_menu {
    border: 1px solid var(--button);
    border-radius: .5rem;
}

.saved {
    background-color: rgb(128, 231, 128);
    border-color: green;

}

.unsaved {
    background-color: rgb(243, 156, 156);
    border-color: red;
}

#editable {
    justify-content: end;
    max-width: max-content;
    min-width: 10rem;
}

.m_button {
    border-radius: .3rem;
    padding: .2rem .4rem;
    margin: .2rem;
    font-size: 1rem;
}

#editable button:hover, .m_button:hover {
    text-decoration: underline;
}

#editable div {
    min-width: 100%;
    flex-direction: row;
    margin-bottom: .5rem;
}

#editable label {
    /* border: 1px solid var(--button); */
    border-radius: .3rem;
    margin: .2rem;
    padding: .2rem .4rem;
    color: black;
}

label {
    font-size: .8rem;
    color: grey;
}

.main_label{
    margin-top: 1rem;
    line-height: 1rem;
}

#copy {
    font-size: 1.3rem;
    padding: .5rem;
    margin-top: .25rem;
    background-color: var(--copy);
    border: 1px solid var(--copyhigh);
    margin-bottom: .5rem;
    font-weight: 600;
    border-radius: 2rem;
}

#copy:hover {
    background-color: var(--copyhigh);
    cursor: pointer;
}

#clear {
    margin: 0;
    padding: .3rem;
    color: gray;
    width: max-content;
    font-size: .8rem;
    height: fit-content;
    border-radius: .3rem;
    margin-left: auto;
}

#geo_toggle {
    border-radius: 1rem;
    border: 1px dotted black;
    max-width: 100px;
    position: fixed;
    left: 10px;
    top: 10px
}

#geo_toggle img{
    width: auto;
    height: 3rem;
}

#clear:hover,
.hider:hover {
    cursor: pointer;
    background-color: var(--button);
}

.hider {
    left: 770px;
    background-color: var(--bg);
    border: 1px solid grey;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    width: 30px;
    top: 0;
    border-radius: .2rem;
    padding: .3rem .5rem;
}

.data_field {
    margin: .5rem;
    background-color: var(--bg);
    padding: 1rem;
    /* box-shadow: 0px 0px 10px rgba(135, 122, 96, 0.471); */
    border-radius: 1rem;
}

#outbound {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#outbound_header {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    width: max-content;
    text-align: center;
}

#outbound_header img {
    max-width: 100%;
    width: 20rem;
}

@keyframes wobble {
    0% { transform: translateY(0%); } 
    15% { transform: translateY(-2%) rotate(1deg); } 
    30% { transform: translateY(3%) rotate(-3deg); } 
    45% { transform: translateY(-4%) rotate(2deg); } 
    60% { transform: translateY(2%) rotate(-2deg); }
    75% { transform: translateY(-5%) rotate(-1deg); }
    100% { transform: translateY(0%); } 
 } 

.loader {
    margin: auto;
    text-align: center;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.loader img { 
    max-width: 10rem;
    margin: auto;
    -webkit-animation-name: wobble; 
    animation-name: wobble; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#geocoder {
    font-size: 1.2rem;
    max-width: 35rem;
    width: calc(100% - 2rem);
    margin: auto;
    margin-top: 3rem;
}

#oubound_copy {
    padding: .4rem .8rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: rgb(44, 168, 127) solid 1px;
    background-color:aquamarine;
}

#oubound_copy:hover {
    color: white;
    background-color:rgb(44, 168, 127);
}

#outbound_link {
    border-top: 1px grey dotted;
    margin-top: 1rem;
    padding-top: 1rem;
    overflow-wrap: break-word;
}

#outbound_link_text {
    background-color: var(--edit);
    border-radius: .2rem;
    margin-top: .5rem;
    padding: .5rem;

}

#geo_body input {
    width: calc(100% - 1rem);
    font-size: 1.3rem;
}

#dropdown button{
    background-color: var(--bg);
    border-bottom: 1px solid var(--button);
    width: 100%;
    padding: .4rem 0;
    text-align: left;
    font-size: 1.1rem;

}

#dropdown button:hover{
    background-color: var(--edit);
}

.m_button.selected {
    background-color: var(--soft_bg);
}

.m_button.selected::before{
    content: "✔️";
    font-size: .8rem;
}


#options {
    border: 1px dotted grey;
    font-size: .9rem;
    margin-top: .5rem;
    border-radius: .25rem;
    background-color: var(--edit);
    max-height: 50vh;
    overflow-y: scroll;

}

#filter_header {
    height: 2rem;
    display: flex;
    width: 100%;
    top: 0;
    position: sticky;
    border-bottom: 1px dotted grey;
    background-color: var(--bg);
}

#filter_header  button { 
    border: 1px solid var(--button);
    border-radius: .3rem;
    margin: .2rem;
}

#filter_header  button:hover { 
    text-decoration: underline;
}

#options table {
    width: 100%;
    border-collapse: collapse; 
}

#filter button {
    border: 1px solid var(--button);
    background-color: var(--bg);
    padding: .4rem .8rem;
    border-radius: .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    font-size: .9rem;
}

#filter button.selected {
    background-color: var(--button);
}

#filter button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.geo_selector {
    /* border-bottom: 1px grey dotted; */
    padding: .2rem;
    cursor: pointer;
    min-width: 100%;
    width: 100%;
    line-height: 1.1rem;
}


tr:nth-child(even) {
    background-color: var(--button);
}

/* 
.geo_selector span{
    flex: 2
}

.geo_selector span.short{
    flex: 1
} */


.geo_selector:hover{
    background-color: var(--soft_bg);
}



#preview {
    margin-top: 1rem;
    border-radius: .5rem;
    max-width: 100%;
    padding: .5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
    background: var(--soft_bg);
}


.footer {
    max-width: 100%;
    padding: 3rem;
    text-align: center;
    color: grey;
    font-size: .8rem;
}


@media only screen and (max-width: 800px) {

    * {
        font-size: 1rem;
    }

    #outbound_link_text {
        font-size: .8rem;
    }

    #footer {
        font-size: .7rem;
    }


    #geo_body input{
      font-size: 1rem;
    }

    #geo_body button {
        font-size: .9rem;
    }
  }