:root {
    --bg: rgb(241, 241, 240);
    --edit: rgb(249, 248, 246);
    --button: rgb(212, 204, 204);
    --soft_bg: rgb(216, 228, 238);
    --bold: rgb(34, 40, 219);
    --copy: rgb(213, 245, 186);;
    --copyhigh: rgb(135, 214, 151);
}

.cta_box {
    margin-bottom: 2rem;
    border: 1px dotted black;
    padding: 1rem;
    background: var(--edit);
    position: relative;
}

.cta_pointer {
    position: absolute;
  left: -2.4rem;
  font-size: 3rem;
  top: 0;
  margin-top: .5rem;
  rotate: -5deg;
}


#feeder p {
    text-decoration: none;
}


button {
    border: none;
    background-color: var(--button);
}

button:hover {
    cursor: pointer;
    background-color: edit;
}

textarea,
input {
    resize: none;
    font-weight: 500;
    font-family: sans-serif;
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: .5rem;
    border: 1px dotted grey;
    background: var(--edit)
}

textarea:focus-within,
input:focus-within {
    border: 1px solid var(--bold);
    outline: none;
}

.recipient_list {
    padding: .3rem;
    padding-bottom: 0;
    border: 1px dotted grey;
    border-radius: .5rem;
    background: var(--edit);
    display: flex;
    flex-wrap: wrap;
    color: var(--bg);
}

#recipients_form input:hover,
#recipients_form input:focus {
    background-color: var(--soft_bg);
}



.recipient_menu {
    display: none;
    position: absolute;
    background-color: var(--bg);
    box-shadow: 0 .2rem .4rem lightgray;
    padding: .2rem .2rem;
    border-radius: .3rem;
}


.recipient:hover>.recipient_menu {
    display: flex;
    cursor: pointer;
    font-size: .9rem;
    border: 1px solid var(--button);
}


.recipient_menu span {
    /* background-color: var(--edit); */
    padding: .1rem .2rem;
    border-radius: .5rem;
    margin: .1rem;
    border: .5px solid var(--edit);
}

.recipient_menu span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.recipient_menu .delete {
    padding: .1rem .4rem;
    border-left: 1px solid lightgrey;
    border-radius: 0;
}

#recipients_form {
    font-size: 1.1rem;
    display: inline-block;
    margin-bottom: .3rem;
    background: var(--edit)
}

#recipients_form input:focus-visible,
#recipients_form input:focus {
    outline: none;
}

#recipients_form input {
    vertical-align: middle;
    border: 0px;
    font-size: 1.1rem;
    padding: 0 .3rem;
    margin: 0;
    border-radius: .3rem;
    line-height: 1.6rem;
}

.recipient {
    color: black;
    margin-bottom: .3rem;
    padding: .2rem .2rem;
    /* background-color: var(--soft_bg); */
    padding: 0.2rem 0.3rem;
    vertical-align: middle;
    border-radius: .5rem;
    border: 1px solid var(--button);
}

.recipient:focus {
    background-color: var(--soft_bg);
    border: 1px solid var(--bold);
}

.saved {
    background-color: rgb(128, 231, 128);
    border-color: green;

}

.unsaved {
    background-color: rgb(243, 156, 156);
    border-color: red;
}

label {
    font-size: .8rem;
    color: grey;
}

#clear {
    margin: 0;
    padding: .3rem;
    color: gray;
    width: max-content;
    font-size: .8rem;
    height: fit-content;
    border-radius: .3rem;
    margin-left: auto;
}

#geo_toggle {
    border-radius: 1rem;
    border: 1px dotted black;
    max-width: 100px;
    position: fixed;
    left: 10px;
    top: 10px
}

#geo_toggle img{
    width: auto;
    height: 3rem;
}

#clear:hover {
    cursor: pointer;
    background-color: var(--button);
}

.data_field {
    margin: .5rem;
    background-color: var(--bg);
    padding: 1rem;
    /* box-shadow: 0px 0px 10px rgba(135, 122, 96, 0.471); */
    border-radius: 1rem;
}

#outbound {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#outbound_header {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    width: max-content;
    text-align: center;
}

#outbound_header img {
    max-width: 100%;
    width: 20rem;
}

@keyframes wobble {
    0% { transform: translateY(0%); } 
    15% { transform: translateY(-2%) rotate(1deg); } 
    30% { transform: translateY(3%) rotate(-3deg); } 
    45% { transform: translateY(-4%) rotate(2deg); } 
    60% { transform: translateY(2%) rotate(-2deg); }
    75% { transform: translateY(-5%) rotate(-1deg); }
    100% { transform: translateY(0%); } 
 } 

.loader {
    margin: auto;
    text-align: center;
    width: max-content;
    display: flex;
    flex-direction: column;
}

.loader img { 
    max-width: 10rem;
    margin: auto;
    -webkit-animation-name: wobble; 
    animation-name: wobble; 
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#geocoder {
    font-size: 1.2rem;
    max-width: 35rem;
    width: calc(100% - 2rem);
    margin: auto;
    margin-top: 3rem;
}

#oubound_copy {
    padding: .4rem .8rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    border: rgb(44, 168, 127) solid 1px;
    background-color:aquamarine;
}

#oubound_copy:hover {
    color: white;
    background-color:rgb(44, 168, 127);
}

#outbound_link {
    border-top: 1px grey dotted;
    margin-top: 1rem;
    padding-top: 1rem;
    overflow-wrap: break-word;
}

#outbound_link_text {
    background-color: var(--edit);
    border-radius: .2rem;
    margin-top: .5rem;
    padding: .5rem;

}

#geo_body input {
    width: calc(100% - 1rem);
    font-size: 1.3rem;
}

#dropdown button{
    background-color: var(--bg);
    border-bottom: 1px solid var(--button);
    width: 100%;
    padding: .4rem 0;
    text-align: left;
    font-size: 1.1rem;

}

#dropdown button:hover{
    background-color: var(--edit);
}

tr:nth-child(even) {
    background-color: var(--button);
}

.footer {
    max-width: 100%;
    padding: 3rem;
    text-align: center;
    color: grey;
    font-size: .8rem;
}


@media only screen and (max-width: 800px) {

    * {
        font-size: 1rem;
    }

    #outbound_link_text {
        font-size: .8rem;
    }

    #footer {
        font-size: .7rem;
    }


    #geo_body input{
      font-size: 1rem;
    }

    #geo_body button {
        font-size: .9rem;
    }
  }