@import 'tailwindcss';

@theme {
  --font-sans:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-mono:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  --color-bg: rgb(241, 241, 240);
  --color-edit: rgb(249, 248, 246);
  --color-button: rgb(212, 204, 204);
  --color-soft-bg: rgb(216, 228, 238);
  --color-copy: rgb(213, 245, 186);;
  --color-copyhigh: rgb(135, 214, 151);
}

@layer base {
  body {
    @apply bg-[rgb(230,224,217)];
    @apply m-4;
  }

  a {
    @apply text-blue-700;
    @apply underline hover:no-underline;
  }
}

@layer components {
  #welcome {
    border: 4px double black;
    border-style: double;
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
  }

  .shown {
    display: block;
  }

  .hidden {
    display: none !important;
  }

  [hidden] {
    display: none;
  }
}
