@import 'tailwindcss';

@theme {
  --color-sfa-blue: #245ad8;
  --color-sfa-green: #25c764;
  --color-sfa-tan: #f3eee2;

  --color-blue: #0032ff;

  --color-bg: rgb(241, 241, 240);
  --color-edit: rgb(249, 248, 246);
  --color-button: rgb(212, 204, 204);
  --color-soft-bg: rgb(216, 228, 238);
  --color-bold: rgb(34, 40, 219);
  --color-copy: rgb(213, 245, 186);
  --color-copyhigh: rgb(135, 214, 151);
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-mono);
  --font-title: var(--font-source-sans);
}

@layer base {
  a {
    @apply text-blue-700;
    @apply underline hover:no-underline;
  }

  label {
    @apply block;
    @apply font-mono;
    @apply mb-1;
    @apply text-sm;
  }

  .out label {
    @apply font-sans;
    @apply mb-0;
    @apply text-xs;
    @apply text-[grey];
  }

  button {
    @apply border-2 border-black;
    @apply cursor-pointer;
    @apply px-3 py-2;
    @apply text-sm;
  }

  button:hover {
    @apply bg-black;
    @apply text-white;
  }

  .out button {
    @apply bg-button;
    @apply border-0;
    @apply text-base;
    @apply text-black;
  }

  .out button:hover {
    @apply bg-edit;
    @apply cursor-pointer;
  }

  input,
  textarea {
    @apply border-2 border-black;
    @apply px-3 py-2;
  }

  input:focus,
  textarea:focus {
    @apply border-blue;
    @apply outline-none;
  }

  input[type="submit"],
  button[type="submit"] {
    @apply bg-black;
    @apply font-sans font-bold;
    @apply px-3 py-2;
    @apply text-base;
    @apply text-white;
  }

  input[type="submit"]:hover,
  button[type="submit"]:hover {
    @apply bg-blue;
  }

  .out textarea,
  .out input {
    @apply bg-edit;
    @apply border border-dotted border-[grey];
    @apply font-medium;
    @apply font-sans;
    @apply mb-2;
    @apply p-2;
    @apply resize-none;
    @apply rounded-lg;
    @apply text-base;
  }

  .out textarea:focus-within,
  .out input:focus-within {
    @apply border-bold border;
    @apply outline-0;
  }

  tr:nth-child(even) {
    @apply bg-button;
  }
}

@layer components {
  .togglegroup-root {
    @apply inline-flex gap-1;
    @apply rounded-md;
    @apply border-2 border-black;
    @apply bg-[#f0f0f0];
    @apply p-1;
  }

  .togglegroup-item {
    @apply cursor-pointer;
    @apply rounded;
    @apply border-2 border-transparent hover:border-black;
    @apply bg-transparent data-[state=on]:bg-black;
    @apply px-2 py-1;
    @apply font-mono;
    @apply text-sm text-black data-[state=on]:text-white;
  }

  #welcome {
    border: 4px double black;
    border-style: double;
    margin: 1rem;
    padding: 1rem;
    width: 20rem;
  }

  [hidden] {
    display: none;
  }

  @keyframes wobble {
    0% {
      transform: translateY(0%);
    }
    15% {
      transform: translateY(-2%) rotate(1deg);
    }
    30% {
      transform: translateY(3%) rotate(-3deg);
    }
    45% {
      transform: translateY(-4%) rotate(2deg);
    }
    60% {
      transform: translateY(2%) rotate(-2deg);
    }
    75% {
      transform: translateY(-5%) rotate(-1deg);
    }
    100% {
      transform: translateY(0%);
    }
  }

  .loader {
    margin: auto;
    text-align: center;
    width: max-content;
    display: flex;
    flex-direction: column;
  }

  .loader img {
    max-width: 10rem;
    margin: auto;
    -webkit-animation-name: wobble;
    animation-name: wobble;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}
